/JavaWeb/4Semestre20172/nbproject/private/
/JavaWeb/08-24 Login/nbproject/private/
/JavaWeb/08-24 Login/build/
/JavaWeb/08-24 Login/dist/
/JavaWeb/09.07-Redelem/nbproject/private/
/JavaWeb/09.07-Redelem/build/
/JavaWeb/09.14-RedelemP1/nbproject/private/
/JavaWeb/09.14-RedelemP1/build/
/Java/10.04-Urna-Prova/nbproject/private/
/Java/10.04-Urna-e-Prova/nbproject/private/
/Java/10.04-Urna-e-Prova/build/
/Java/SistemaAmigosVitor/nbproject/private/
/Java/SistemaAmigosVitor/build/
/Java/SistemaAmigosVitor/dist/
/Java/AndroidApplication1/gen/
/Java/AndroidApplication1/bin/
/Java/10.27-Teste/gen/
/Java/10.27-Teste/bin/
/Java/10.27-ResgFatecMobile/gen/
/Android/10.27-ResgFatecMobile/gen/
/Android/10.27-ResgFatecMobile/bin/
/Java/11.01-BurjAlFatec/nbproject/private/
/Java/11.01-BurjAlFatec/build/
/Java/11.01-BurjAlFatec/dist/